{% extends 'base_site.html' %}
{% load static %}

{% block body2 %}
    <div class="relative clearfix">
    <div class="banner">
        <img src="{% static 'golden_web/img/futx-bg.jpg' %}"/>
    </div>
        {% block server_menu %}
            <div class="breadcrumb">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12" style="font-size:0;">
                            <a class="cur" href="{% url 'golden_web:service_system' "consult" %}">咨询服务</a>
                            <a href="{% url 'golden_web:service_system' "kefu" %}">客服服务</a>
                            <a href="{% url 'golden_web:service_system' "maintain" %}">运维服务</a>
                            <a href="{% url 'golden_web:service_system' "customize" %}">定制服务</a></div>
                    </div>
                </div>
            </div>
        {% endblock server_menu %}
    </div>
    {% block service_body %}
        <div class="page_index">
            <div class="page_about">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            {% block service_context %}
                             {% endblock service_context %}
                            <p class="center"><a href="tencent://message/?uin=505569470&Site=www.goldenidc.com&Menu=yes" class="btn consultbtn">立即咨询</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock service_body %}
{% endblock body2 %}