{% extends 'golden_web/zyfa/zyfa_base.html' %}
{% load static %}

{% block zyfa_header %}
    <h2>机柜资源</h2>
    <h3>多种机柜规格，供您选择</h3>
{% endblock zyfa_header %}

{% block zyfa_menu %}
    <a href="{% url 'golden_web:resource' "trusteeship" %}">服务器托管</a>
    <a class="cur" href="{% url 'golden_web:resource' "cabinet" %}">机柜资源</a>
    <a href="{% url 'golden_web:resource' "broadband" %}">大带宽资源</a>
    <a href="{% url 'golden_web:resource' "customization" %}">行业定制化</a>
{% endblock zyfa_menu %}

{% block zyfa_context %}
    <div class="col-xs-12 col-sm-6 col-md-6 resource-p animated pulse">
        <p >• 六大机房资源</p>
        <br>
        <p>• 多种机柜规格</p>
        <br>
        <p>• 定制化租赁方案</p>
        <br>
        <p>• 移动，联通，电信 双线，BGP资源触手可得</p>
        <br>
        <p style="color: red">• 详情请咨询：18601057002</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 animated pulse">
        <img src="{% static 'golden_web/img/mk-cabinet.jpg' %}" alt="模块化机柜" class="img-responsive">
    </div>
{% endblock zyfa_context %}