{% extends 'golden_web/zyfa/zyfa_base.html' %}
{% load static %}

{% block zyfa_header %}
    <h2>机柜资源</h2>
    <h3>多种机柜规格，供您选择</h3>
{% endblock zyfa_header %}

{% block zyfa_menu %}
    <a href="{% url 'golden_web:resource' "trusteeship" %}">服务器托管</a>
    <a class="cur" href="{% url 'golden_web:resource' "cabinet" %}">机柜资源</a>
    <a href="{% url 'golden_web:resource' "broadband" %}">大带宽资源</a>
    <a href="{% url 'golden_web:resource' "customization" %}">行业定制化</a>
{% endblock zyfa_menu %}

{% block zyfa_context %}
    <h1 style="font-size: 30px;text-align: center">建设中</h1>
    <h1 style="font-size: 30px;text-align: center">建设中</h1>
    <h1 style="font-size: 30px;text-align: center">建设中</h1>
{% endblock zyfa_context %}