{% extends 'golden_web/zyfa/zyfa_base.html' %}
{% load static %}
{% block title %} 数据中心定制化{% endblock title %}
{% block zyfa_header %}
    <h2>行业定制化</h2>
    <h3>
        <p>• 可根据客户需求，提供数据中心定制化选型、建设解决方案</p>
        <p>• 提供数据中心选型、建设的专业建议</p>
        <p>• 依照用户需求，提供定制化互联互通解决方案</p>
        <p>• 帮助客户实施落地业务。</p>
    </h3>
{% endblock zyfa_header %}

{% block zyfa_menu %}
    <a href="{% url 'golden_web:resource' "trusteeship" %}">服务器托管</a>
    <a href="{% url 'golden_web:resource' "cabinet" %}">机柜资源</a>
    <a href="{% url 'golden_web:resource' "broadband" %}">大带宽资源</a>
    <a class="cur"  href="{% url 'golden_web:resource' "customization" %}">行业定制化</a>
{% endblock zyfa_menu %}

{% block zyfa_context %}
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="resource-box animated pulse">
            <img src="{% static 'golden_web/img/hosting_5.jpg' %}" alt="" class="img-responsive">
            <h4 class="resource-title">专业的IDC服务提供商</h4>
            <h5 class="resource-text">拥有正规的IDC、ISP资质，多年IDC行业服务经验;1+1贴心服务----从售前到售后全过程，安排1个客户经理+1个技术人员全程跟踪;</h5>
        </div>
    </div>
{% endblock zyfa_context %}