{% extends 'golden_web/zyfa/zyfa_base.html' %}
{% load static %}

{% block zyfa_header %}
    <h2>服务器托管</h2>
    <h3>
        根据用户放置服务器大小及台数的不同，提供1U、2U、4U、7U、塔式、整机柜租用服务、VIP机房服务，保证良好的空间、散热、空调环境及标准稳定的电量供应;根据客户需求提供不同档次端口共享、独享带宽服务;根据客户各种的运维需求，量身定做全面系统的售后服务支持，为用户的业务保驾护航。</h3>
{% endblock zyfa_header %}

{% block zyfa_menu %}
    <a class="cur" href="{% url 'golden_web:resource' "trusteeship" %}">服务器托管</a>
    <a href="{% url 'golden_web:resource' "cabinet" %}">机柜资源</a>
    <a href="{% url 'golden_web:resource' "broadband" %}">大带宽资源</a>
    <a href="{% url 'golden_web:resource' "customization" %}">行业定制化</a>
{% endblock zyfa_menu %}

{% block zyfa_context %}
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="resource-header animated pulse">
            <span>金石创世服务器托管优势</span>
            <small>专业机房，专业托管，为客户提供安全、稳定的托管环境</small>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="resource-box animated pulse">
            <img src="{% static 'golden_web/img/hosting_1.jpg' %}" alt="" class="img-responsive">
            <h4 class="resource-title">专业团队</h4>
            <h5 class="resource-text">多年IDC经验累积，技术力量雄厚，经验丰富</h5>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="resource-box animated pulse">
            <img src="{% static 'golden_web/img/hosting_5.jpg' %}" alt="" class="img-responsive">
            <h4 class="resource-title">品质机房</h4>
            <h5 class="resource-text">一线机房，99.99%网络连通性及电力保障</h5>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="resource-box animated pulse">
            <img src="{% static 'golden_web/img/hosting_2.jpg' %}" alt="" class="img-responsive">
            <h4 class="resource-title">实时监控</h4>
            <h5 class="resource-text">实时监测带宽使用，提供免费网络流量报告</h5>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="resource-box animated pulse">
            <img src="{% static 'golden_web/img/hosting_4.jpg' %}" alt="" class="img-responsive">
            <h4 class="resource-title">多线路选择</h4>
            <h5 class="resource-text">支持多种线路选择，光纤接入，独享带宽</h5>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="resource-box animated pulse">
            <img src="{% static 'golden_web/img/hosting_3.jpg' %}" alt="" class="img-responsive">
            <h4 class="resource-title">响应迅速</h4>
            <h5 class="resource-text">故障5分钟内响应，资深工程师全天候服务</h5>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="resource-box animated pulse">
            <img src="{% static 'golden_web/img/hosting_6.jpg' %}" alt="" class="img-responsive">
            <h4 class="resource-title">服务保障</h4>
            <h5 class="resource-text">多免费重启，重装系统，网络连接性维护</h5>
        </div>
    </div>



{% endblock zyfa_context %}