{% extends 'golden_web/datacenter/dc_base.html' %}
{% load static %}
{% block dataname %}天津绍兴道数据中心{% endblock dataname %}
{% block dc_menu %}
    <a href="{% url 'golden_web:show_data' "kglt" %}">天津空港联通数据中心</a>
    <a href="{% url 'golden_web:show_data' "hygjsjg" %}">天津华苑国际数据港</a>
    <a href="{% url 'golden_web:show_data' "kgyd" %}">天津空港移动数据中心</a>
    <a href="{% url 'golden_web:show_data' "dxtb" %}">天津电信天波数据中心</a>
    <a href="{% url 'golden_web:show_data' "yxf" %}">天津宜兴阜数据中心</a>
    <a class="cur" href="{% url 'golden_web:show_data' "sxd" %}">天津绍兴道数据中心</a>
{% endblock dc_menu %}

{% block dc_img %}
    <img src="{% static 'golden_web/img/datecenter/sxd-x.jpg' %}"/>
{% endblock dc_img %}

{% block dc_info %}
    <div class="information">
        <h1 class="name">{% block dc_info_name %}天津空港联通IDC机房{% endblock dc_info_name %}</h1>
        <ul class="tab_list clearfix">
            <li class="cur">机房概况</li>
            <li>电力系统</li>
            <li>空调系统</li>
            <li>消防设施</li>
            <li>网络资源</li>
            <li>机柜规格</li>
        </ul>
        <ul class="tab_content clearfix">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        {#                        <a href="" download class="download btn noradius colorDodge">下载机房信息</a>#}

    </div>
{% endblock dc_info %}