{% extends 'golden_web/datacenter/dc_base.html' %}
{% load static %}
{% block title %}天津绍兴道数据中心{% endblock title %}
{% block dataname %}天津绍兴道数据中心{% endblock dataname %}
{% block dc_menu %}
    <a href="{% url 'golden_web:show_data' "kglt" %}">天津空港联通数据中心</a>
    <a href="{% url 'golden_web:show_data' "hygjsjg" %}">天津华苑国际数据港</a>
    <a href="{% url 'golden_web:show_data' "kgyd" %}">天津空港移动数据中心</a>
    <a href="{% url 'golden_web:show_data' "dxtb" %}">天津电信天波数据中心</a>
    <a href="{% url 'golden_web:show_data' "yxf" %}">天津宜兴阜数据中心</a>
    <a class="cur" href="{% url 'golden_web:show_data' "sxd" %}">天津绍兴道数据中心</a>
{% endblock dc_menu %}

{% block dc_img %}
    <img src="{% static 'golden_web/img/datecenter/sxd-x.jpg' %}"/>
{% endblock dc_img %}

{% block dc_info %}
    <div class="information">
        <h1 class="name">{% block dc_info_name %}天津空港联通IDC机房{% endblock dc_info_name %}</h1>
        <ul class="tab_list clearfix">
            <li class="cur">机房概况</li>
            <li>地理位置</li>
            <li>电力系统</li>
            <li>空调系统</li>
            <li>消防设施</li>
            <li>网络资源</li>
            <li>机柜规格</li>
        </ul>
        <ul class="tab_content clearfix">
            <li>
                <p>绍兴道机房高达 5 米的层高；整体机房采用承重结构设计，可供您放置一些特型设备；机房的承重能力已经达到了10 级的抗震强度，每平方米可受重的能力为 600 公斤。</p>
                <p>机房配备烟感温感火灾探测报警器、环保型灭火气体、机房分区灭火、气体灭火控制系统、防漏水感应系统、电视监控系统、多级智能认证保安系统、
                    感应式门禁、掌纹识别、门禁语音通话系统，保证用户服务器和整个机房的绝对物理安全！</p>
            </li>
            <li>
                <p>绍兴道机房位于天津市绍兴道117号，地处市中心繁华地段，交通十分便利。道路四通八达，距北京仅 80 分钟车程。便捷的交通和幽雅的社区环境为众多客户提供了便利的工作条件。</p>
            </li>
            <li>
                <p>
                    绍兴道机房采用双路冗余大功率智能 UPS ，超大功率备用柴油发电机组，提供强大的电力保证。
                    电源为双路市电，配有的大容量 UPS 双路电源系统容量为 6 台 400KVA ，组成冗余运行方式，目前使用的柴油发电机容量为 1600KVA 。
                </p>
            </li>
            <li>
                <p>绍兴道机房采用多台大功率空调设备，采用上送风、上回风方式精确控制机房空间的温湿度；现有机房使用的是梅蓝日蓝大型立式空调六台，功率分别为 3.5 万大卡，总输出功率为 21 万大卡。</p>
            </li>
            <li>
                <p>绍兴道机房采用的是防火构架及材料，消防能力符合国际通信标准。机房和楼道内装有温度烟雾感应消防系统，防火报火警探头，遇到火情时自动启动灭火器灭火s。</p>
            </li>
            <li>
                <p>绍兴道机房有着得天独厚的网络优势，到北京骨干网出口总带宽为 120G ，核心网络设备为8台 Cisco7609 ，每台配备双 SUPER720 交换引擎，提供 720G 交换能力，每台 7609 有 6 个GE 分别上联骨干 GSR ，核心带宽 40G 。</p>
                <p>１０Ｇ（四根2.5G网通光纤）、５Ｇ（两根2.5G电信光纤）、直接接入机房，上下行带宽不低于2.5G，
                    通过5G多芯光纤直接接入ChinaNET骨干网 ，国际出口走骨干带宽！ 百兆端口直接连接于快速以太网交换机、机房千兆多芯光纤与CHINANET骨干网高速连接、大容量：2×2.5G骨干光纤直入枢纽楼机房，有效保障用户的带宽需求！</p>
            </li>
            <li>
                <p>普天PNSOR64590高性能加高IDC数据机柜，每个机柜配备30个电源插口，二级线路保险装置，
                    两路大型配电箱供电模式，保障电路安全，前后金属网通风设计，保障服务器充分散热和换热。每个机柜配备十个左右的金属隔板。
                    顶架式线路梯连接每个机柜，便于网络布线和维护！</p>
            </li>
        </ul>

        {#                        <a href="" download class="download btn noradius colorDodge">下载机房信息</a>#}

    </div>
{% endblock dc_info %}