{% extends 'base_site.html' %}
{% load static %}
{% block title %}IDC机房，IDC托管，IDC数据中心，服务器租赁，金石创世网络科技有限公司{% endblock title %}
{% block body2 %}
    <div class="relative clearfix">
        <div class="banner">
            <img src="{% static 'golden_web/img/datacenter-bg.jpg' %}"/>
        </div>
    </div>
    <div class="product_list">
        <div class="container">
            <div class="row animated bounceInUp">
                <h1 class="center catname" style="font-size: 38px;margin-bottom: 20px;">数据中心</h1>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box center">
                        <div class="img-responsive">
                            <img src="{% static 'golden_web/img/datecenter/tjkg-x.jpg' %}"/>
                        </div>
                        <div class="info">
                            <div class="h100">
                                <div class="table">
                                    <a class="table-cell">
                                        <div class="txt">
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "kglt" %}" >4000个标准机架</a>
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "kglt" %}" >出口带宽可达400G</a>
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "kglt" %}" >建筑面积70500平方米</a>
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "kglt" %}" >直连国家骨干网核心设备</a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="center catname">天津联通空港数据中心</h1>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box center">
                        <div class="img-responsive">
                            <img src="{% static 'golden_web/img/datecenter/hygjsjg-x.jpg' %}"/>
                        </div>
                        <div class="info">
                            <div class="h100">
                                <div class="table">
                                    <div class="table-cell">
                                        <div class="txt">
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "hygjsjg" %}" >五星级高端IDC机房</a>
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "hygjsjg" %}" >20910平方米独立大楼</a>
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "hygjsjg" %}" >2000kva大型柴油发电机</a>
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "hygjsjg" %}" >八级抗震</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <h1 class="center catname">天津华苑国际数据港</h1>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box center">
                        <div class="img-responsive">
                            <img src="{% static 'golden_web/img/datecenter/kdyd-x.jpg' %}"/>
                        </div>
                        <div class="info">
                            <div class="h100">
                                <div class="table">
                                    <div class="table-cell">
                                        <div class="txt">
                                            <a class="arrow-right-b tdn"  href="{% url 'golden_web:show_data' "kgyd" %}">建筑面积约8000平米</a>
                                            <a class="arrow-right-b tdn"  href="{% url 'golden_web:show_data' "kgyd" %}">移动互联网应用总部</a>
                                            <a class="arrow-right-b tdn"  href="{% url 'golden_web:show_data' "kgyd" %}">华为模块化建设</a>
                                            <a class="arrow-right-b tdn"  href="{% url 'golden_web:show_data' "kgyd" %}">恒温恒湿空调系统</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <h1 class="center catname">天津空港移动数据中心</h1>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box center">
                        <div class="img-responsive">
                            <img src="{% static 'golden_web/img/datecenter/dxtb-x.jpg' %}"/>
                        </div>
                        <div class="info">
                            <div class="h100">
                                <div class="table">
                                    <div class="table-cell">
                                        <div class="txt">
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "dxtb" %}">高速稳定的网络保障</a>
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "dxtb" %}">充足持续的电力保障</a>
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "dxtb" %}">严密的安全保障</a>
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "dxtb" %}">可靠的消防保障</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <h1 class="center catname">天津电信天波数据中心</h1>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box center">
                        <div class="img-responsive">
                            <img src="{% static 'golden_web/img/datecenter/yxf-x.jpg' %}"/>
                        </div>
                        <div class="info">
                            <div class="h100">
                                <div class="table">
                                    <div class="table-cell">
                                        <div class="txt">
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "yxf" %}">四星级IDC机房</a>
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "yxf" %}">多线BGP</a>
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "yxf" %}">联通、电信、移动、教育</a>
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "yxf" %}">2套800KVA UPS供电</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <h1 class="center catname">天津宜兴阜数据中心</h1>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box center">
                        <div class="img-responsive">
                            <img src="{% static 'golden_web/img/datecenter/sxd-d.jpg' %}"/>
                        </div>
                        <div class="info">
                            <div class="h100">
                                <div class="table">
                                    <div class="table-cell">
                                        <div class="txt">
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "sxd" %}">北京骨干网出口</a>
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "sxd" %}">10 级的抗震强度</a>
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "sxd" %}">梅蓝日蓝大型立式空调</a>
                                            <a class="arrow-right-b tdn" href="{% url 'golden_web:show_data' "sxd" %}">兰州电信新区枢纽IDCC</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <h1 class="center catname">天津绍兴道数据中心</h1>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        .breadcrumb {
            display: none;
        }
    </style>

{% endblock body2 %}