{% extends 'base_site.html' %}
{% load static %}
{% block body2 %}
    <div class="indexwrapper">
    <div class="banner clearfix">
        <div class="owl-carousel" id="owl-banner">

            <a href="/" title="新核心新机遇" target="_blank"><img src="{% static 'golden_web/img/hdp01.jpg' %}"></a>
            <a href="/" title="全球云计算大会" target="_blank"><img src="{% static 'golden_web/img/hdp02.jpg' %}"></a>
            <a href="/" title="led32" target="_blank"><img src="{% static 'golden_web/img/hdp03.jpg' %}"></a>
            <a href="/" title="led1" target="_blank"><img src="{% static 'golden_web/img/hdo04.jpg' %}"></a>
            <a href="/" title="led1" target="_blank"><img src="{% static 'golden_web/img/hdp05.jpg' %}"></a>
        </div>
    </div>
    <!---->
    <div class="indexwrap01 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="hd center">
                        <h1>专业的企业级<span style="color: #1AA93A;">数据中心服务提供方</span></h1>
                        <h2>专业的企业级IDC、ISP基础设施、网络通信及数据应用服务提供商，提供高可用、高质量、高防御、低能耗数据中心及运维服务</h2>
                    </div>
                    <div class="bd">
                        <ul>

                            <li>
                                <strong style="font-family:'pero';">20+</strong>
                                <p>资源节点</p>
                            </li>
                            <li>
                                <strong style="font-family:'pero';"
                                        style="font-family: '微软雅黑';font-size: 30px;font-weight: normal;line-height: 66px; ">6座</strong>
                                <p>核心机房</p>
                            </li>
                            <li>
                                <strong style="font-family:'pero';">2000G+</strong>
                                <p>网络宽带</p>
                            </li>
                            <li>
                                <strong style="font-family:'pero';">6000R+</strong>
                                <p>机柜储备</p>
                            </li>
                            <li>
                                <strong style="font-family:'pero';">2B+</strong>
                                <p>IP储备</p>
                            </li>
                            <li>
                                <strong style="font-family:'pero';">160+</strong>
                                <p>服务客户</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <!---->
    <div class="indexwrap02 clearfix">
        <div class="box center clearfix">
            <div class="hd wow fadeInDown animated" data-wow-duration="1.5s">
                <h1 class="title">可靠 安全 高效</h1>
                <p class="description">我们为国内外各行业大型企业提供企业级的高标准数据中心, 以及与之相匹配的标准化托管运维服务, 网络采用高可用设计，
安全性达99.999%，打造安全堡垒</p>
            </div>
            <div class="bd clearfix wow fadeInUp animated" data-wow-duration="1.5s">
                <ul>
                    <li>
                        <div class="box">
                            <em class="sprite sprite1"></em>
                            <div class="block clearfix">
                                <div class="txt inline-block center clearfix">
                                    <p class="t1">数据中心托管</p>
                                    <div class="t2">数据中心托管</div>
                                    <p class="t3">金石创世</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <em class="sprite sprite2"></em>
                            <div class="block clearfix">
                                <div class="txt inline-block center clearfix">
                                    <p class="t1">数据中心运维</p>
                                    <div class="t2">数据中心运维</div>
                                    <p class="t3">金石创世</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <em class="sprite sprite3"></em>
                            <div class="block clearfix">
                                <div class="txt inline-block center clearfix">
                                    <p class="t1">互联网络服务</p>
                                    <div class="t2">互联网络服务</div>
                                    <p class="t3">金石创世</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <em class="sprite sprite4"></em>
                            <div class="block clearfix">
                                <div class="txt inline-block center clearfix">
                                    <p class="t1">增值服务</p>
                                    <div class="t2">增值服务</div>
                                    <p class="t3">金石创世</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <em class="sprite sprite5"></em>
                            <div class="block clearfix">
                                <div class="txt inline-block center clearfix">
                                    <p class="t1">定制化数据中心项目</p>
                                    <div class="t2">定制化数据中心项目</div>
                                    <p class="t3">定制化数据中心项目</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="indexwrap03 center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="hd">
                        <h1>我们的<span style="color: #1AA93A;">优势</span></h1>
                    </div>
                    <div class="bd">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft animated">
                                <div class="box">
                                    <em class="sprite sprite1"></em>
                                    <h3>高质量</h3>
                                    <p class="description">全线运营T3以上级别数据中心，符合国内、国际数据中心建设标准</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft animated">
                                <div class="box">
                                    <em class="sprite sprite2"></em>
                                    <h3>安全性</h3>
                                    <p class="description">科学融合电力、安保、消防、 冷却等多重系统，高效安全运作</p>
{#                                    已通过ISO27001信息安全管理体系认证及ISO20000IT服务管理体系认证#}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft animated">
                                <div class="box">
                                    <em class="sprite sprite3"></em>
                                    <h3>稳定性</h3>
                                    <p class="description">金石与国际、国内多运营商保持长期深度合作关系，与运营商联手保障数据中心网络稳定</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft animated">
                                <div class="box">
                                    <em class="sprite sprite4"></em>
                                    <h3>资源覆盖率</h3>
                                    <p class="description">联通，移动，电信，教育网资源触手可得</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hd wow bounceInUp animated">
                        <h1><span style="color: #1AA93A;">我们的客户和合作伙伴</span>——共成长、同梦想！</h1>
                        <h2>无论在任何角落，灵活流畅的上网体验，让您的业务覆盖更多用户</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-12 customer-bg bounceInUp animated">
                            <img src="{% static 'golden_web/img/customer_logo.png' %}" alt="" class="img-responsive" style="margin: 0 auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="indexwrap04 clearfix wow fadeInUp animated" data-wow-duration="1.5s">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="hd">
                        <h1>金石创世</h1>
                    </div>
                    <div class="bd">
                        <br>
                        <br>
                        <ul class="block clearfix">
                            <li>
                                <div class="img-responsive inline-block">
                                    <img src="{% static 'golden_web/img/index_phone.jpg' %}">
                                </div>
                                <span>18601057002</span>
                            </li>
                            <li>
                                <div class="img-responsive inline-block">
                                    <img src="{% static 'golden_web/img/index_qq.jpg' %}">
                                </div>
                                <span>505569470</span>
                            </li>
                            <li>
                                <div class="img-responsive inline-block">
                                    <img src="{% static 'golden_web/img/index_wexin.jpg' %}">
                                </div>
                                <span>18601057002</span>
                            </li>
                            <li>
                                <div class="img-responsive inline-block">
                                    <img src="{% static 'golden_web/img/index_emil.jpg' %}">
                                </div>
                                <span>qiuguokui@goldenidc.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body2 %}